@model MVC_Teeba_Project.Models.Place

@{
    ViewBag.Title = "Details";
    ViewBag.HeaderImage = "admin.jpg";

}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.long_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.long_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Short_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Short_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Popularity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foriegner_Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foriegner_Ticket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egyptian_Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egyptian_Ticket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "AdminIndex")
</p>
